<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <button data-player="bennett" class="quote blather">Michael Bennett</button>
      <button data-player="carroll" class="quote blather">Pete Carroll</button>
      <button data-player="sherman" class="quote blather">Richard Sherman</button>
      <button data-player="thomas" class="quote blather">Earl Thomas</button>
      <button data-player="wilson" class="quote blather">Russell Wilson</button>
      <button class="quote lynch">Marshawn Lynch</button>

      <div class="status"></div>
      <div class="player-name"></div>
      <blockquote class="output"></blockquote>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
