<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive blank thinking">
        <h2>Generate a quote from:</h2>
        <nav class="quote-buttons">
          <button data-player="bennett" class="get-quote blather">Michael Bennett</button>
          <button data-player="carroll" class="get-quote blather">Pete Carroll</button>
          <button data-player="sherman" class="get-quote blather">Richard Sherman</button>
          <button data-player="thomas" class="get-quote blather">Earl Thomas</button>
          <button data-player="wilson" class="get-quote blather">Russell Wilson</button>
          <button class="get-quote lynch">Marshawn Lynch</button>
        </nav>

        <div class="quote">
          <div class="quoted"></div>
          <blockquote class="output"></blockquote>
        </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
