<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive blank thinking">
        <h2>Generate a quote from:</h2>
        <nav class="quote-buttons">
          <% 
          "Michael Bennett|Pete Carroll|Richard Sherman|Earl Thomas|Russell Wilson".split("|").forEach(function(name) { 
            var last = name.split(" ").pop().toLowerCase();
            var mug = name.replace(/\s/g, "").toLowerCase();
          %>
          <a data-player="<%= last %>" class="get-quote blather">
            <img class="mug" src="./assets/<%= mug %>_mug.jpg">
            <label><%= name %></label>
          </a>
          <% }) %>
          <a class="get-quote lynch">
            <img class="mug" src="./assets/marshawnlynch_mug.jpg">
            <label>Marshawn Lynch</label>
          </a>
        </nav>

        <div class="quote">
          <div class="quoted"></div>
          <blockquote class="output"></blockquote>
        </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
